@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: #3C3C3C;
}
section{
    margin-bottom: 80px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 35px;
    color: #363958;
}
header{
    background-color: #FFFBF0;;
}
.navbar-light .navbar-nav .nav-link{
    color: #3C3C3C;
    font-weight: 500;
}
#banner{
    background-color: #FFFBF0;
}
#banner .heading-color{
    color:#FABE4C;
}
#banner p{
    width: 357px;
}
#banner button{
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    outline: 0;
    color: #fff;
}
.shopping-cart-icon img{
    height: 24px;
    width: 24px;
}


.jacket-img{
    background-color: #F1F1F1;
}